@model ShopVM
@{
    ViewData["Title"] = "Index";
}
@section CSS{
    <link rel="stylesheet" href="~/assets/css/blog.css" />
}
<section id="Search">
    <svg xmlns="http://www.w3.org/2000/svg" width="182" height="175" viewBox="0 0 182 175" fill="none">
        <g opacity="0.4">
            <circle cx="70" cy="100" r="69" stroke="url(#paint0_linear_4_1136)" stroke-width="2" stroke-dasharray="4 4" />
            <circle cx="147" cy="20" r="18" stroke="url(#paint1_linear_4_1136)" stroke-width="4" stroke-dasharray="8 8" />
            <circle cx="160.213" cy="153.213" r="14.5" transform="rotate(-45 160.213 153.213)" stroke="url(#paint2_linear_4_1136)" stroke-dasharray="8 8" />
        </g>
        <defs>
            <linearGradient id="paint0_linear_4_1136" x1="70" y1="30" x2="70" y2="170" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint1_linear_4_1136" x1="147" y1="0" x2="147" y2="40" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint2_linear_4_1136" x1="160.213" y1="138.213" x2="160.213" y2="168.213" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
        </defs>
    </svg>
    <div class="src">

        <h3>Frequently asked questions</h3>
        <span>Have questions? we are here to help.</span>
        <div>
            <input type="text" placeholder="How can we Help?">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M21.0004 20.9999L16.6504 16.6499" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none">
        <g opacity="0.4">
            <path d="M192.858 46.5135C193.412 47.4728 193.951 48.4416 194.476 49.4194C193.523 48.7961 192.887 47.73 192.858 46.5135Z" fill="url(#paint0_linear_4_1140)" />
            <path d="M173.303 21.8568C174.967 23.4186 176.581 25.0329 178.143 26.6972C177.539 27.8133 176.358 28.5714 175 28.5714C173.028 28.5714 171.429 26.9724 171.429 25C171.429 23.6418 172.187 22.4607 173.303 21.8568Z" fill="url(#paint1_linear_4_1140)" />
            <path d="M150.581 5.52417C151.558 6.04876 152.527 6.58809 153.486 7.14186C152.27 7.11347 151.204 6.47678 150.581 5.52417Z" fill="url(#paint2_linear_4_1140)" />
            <path d="M46.5135 7.14186C47.4728 6.58809 48.4416 6.04876 49.4194 5.52417C48.7961 6.47678 47.73 7.11347 46.5135 7.14186Z" fill="url(#paint3_linear_4_1140)" />
            <path d="M21.8568 26.6972C23.4186 25.0329 25.0329 23.4186 26.6972 21.8568C27.8133 22.4607 28.5714 23.6418 28.5714 25C28.5714 26.9724 26.9724 28.5714 25 28.5714C23.6418 28.5714 22.4607 27.8133 21.8568 26.6972Z" fill="url(#paint4_linear_4_1140)" />
            <path d="M5.52417 49.4194C6.04876 48.4416 6.58809 47.4728 7.14186 46.5135C7.11347 47.73 6.47678 48.7961 5.52417 49.4194Z" fill="url(#paint5_linear_4_1140)" />
            <path d="M194.476 150.581C193.951 151.558 193.412 152.527 192.858 153.486C192.887 152.27 193.523 151.204 194.476 150.581Z" fill="url(#paint6_linear_4_1140)" />
            <path d="M178.143 173.303C177.539 172.187 176.358 171.429 175 171.429C173.028 171.429 171.429 173.028 171.429 175C171.429 176.358 172.187 177.539 173.303 178.143C174.967 176.581 176.581 174.967 178.143 173.303Z" fill="url(#paint7_linear_4_1140)" />
            <path d="M153.486 192.858C152.27 192.887 151.204 193.523 150.581 194.476C151.558 193.951 152.527 193.412 153.486 192.858Z" fill="url(#paint8_linear_4_1140)" />
            <path d="M49.4194 194.476C48.7961 193.523 47.73 192.887 46.5135 192.858C47.4728 193.412 48.4416 193.951 49.4194 194.476Z" fill="url(#paint9_linear_4_1140)" />
            <path d="M26.6972 178.143C27.8133 177.539 28.5714 176.358 28.5714 175C28.5714 173.028 26.9724 171.429 25 171.429C23.6418 171.429 22.4607 172.187 21.8568 173.303C23.4186 174.967 25.0329 176.581 26.6972 178.143Z" fill="url(#paint10_linear_4_1140)" />
            <path d="M7.14186 153.486C7.11347 152.27 6.47678 151.204 5.52417 150.581C6.04876 151.558 6.58809 152.527 7.14186 153.486Z" fill="url(#paint11_linear_4_1140)" />
            <path d="M71.4286 3.57143C71.4286 5.54387 69.8296 7.14286 67.8571 7.14286C65.8847 7.14286 64.2857 5.54387 64.2857 3.57143C64.2857 1.59898 65.8847 0 67.8571 0C69.8296 0 71.4286 1.59898 71.4286 3.57143Z" fill="url(#paint12_linear_4_1140)" />
            <path d="M92.8571 3.57143C92.8571 5.54387 91.2582 7.14286 89.2857 7.14286C87.3133 7.14286 85.7143 5.54387 85.7143 3.57143C85.7143 1.59898 87.3133 0 89.2857 0C91.2582 0 92.8571 1.59898 92.8571 3.57143Z" fill="url(#paint13_linear_4_1140)" />
            <path d="M114.286 3.57143C114.286 5.54387 112.687 7.14286 110.714 7.14286C108.742 7.14286 107.143 5.54387 107.143 3.57143C107.143 1.59898 108.742 0 110.714 0C112.687 0 114.286 1.59898 114.286 3.57143Z" fill="url(#paint14_linear_4_1140)" />
            <path d="M135.714 3.57143C135.714 5.54387 134.115 7.14286 132.143 7.14286C130.17 7.14286 128.571 5.54387 128.571 3.57143C128.571 1.59898 130.17 0 132.143 0C134.115 0 135.714 1.59898 135.714 3.57143Z" fill="url(#paint15_linear_4_1140)" />
            <path d="M50 25C50 26.9724 48.401 28.5714 46.4286 28.5714C44.4561 28.5714 42.8571 26.9724 42.8571 25C42.8571 23.0276 44.4561 21.4286 46.4286 21.4286C48.401 21.4286 50 23.0276 50 25Z" fill="url(#paint16_linear_4_1140)" />
            <path d="M71.4286 25C71.4286 26.9724 69.8296 28.5714 67.8571 28.5714C65.8847 28.5714 64.2857 26.9724 64.2857 25C64.2857 23.0276 65.8847 21.4286 67.8571 21.4286C69.8296 21.4286 71.4286 23.0276 71.4286 25Z" fill="url(#paint17_linear_4_1140)" />
            <path d="M92.8571 25C92.8571 26.9724 91.2582 28.5714 89.2857 28.5714C87.3133 28.5714 85.7143 26.9724 85.7143 25C85.7143 23.0276 87.3133 21.4286 89.2857 21.4286C91.2582 21.4286 92.8571 23.0276 92.8571 25Z" fill="url(#paint18_linear_4_1140)" />
            <path d="M114.286 25C114.286 26.9724 112.687 28.5714 110.714 28.5714C108.742 28.5714 107.143 26.9724 107.143 25C107.143 23.0276 108.742 21.4286 110.714 21.4286C112.687 21.4286 114.286 23.0276 114.286 25Z" fill="url(#paint19_linear_4_1140)" />
            <path d="M135.714 25C135.714 26.9724 134.115 28.5714 132.143 28.5714C130.17 28.5714 128.571 26.9724 128.571 25C128.571 23.0276 130.17 21.4286 132.143 21.4286C134.115 21.4286 135.714 23.0276 135.714 25Z" fill="url(#paint20_linear_4_1140)" />
            <path d="M157.143 25C157.143 26.9724 155.544 28.5714 153.571 28.5714C151.599 28.5714 150 26.9724 150 25C150 23.0276 151.599 21.4286 153.571 21.4286C155.544 21.4286 157.143 23.0276 157.143 25Z" fill="url(#paint21_linear_4_1140)" />
            <path d="M28.5714 46.4286C28.5714 48.401 26.9724 50 25 50C23.0276 50 21.4286 48.401 21.4286 46.4286C21.4286 44.4561 23.0276 42.8571 25 42.8571C26.9724 42.8571 28.5714 44.4561 28.5714 46.4286Z" fill="url(#paint22_linear_4_1140)" />
            <path d="M50 46.4286C50 48.401 48.401 50 46.4286 50C44.4561 50 42.8571 48.401 42.8571 46.4286C42.8571 44.4561 44.4561 42.8571 46.4286 42.8571C48.401 42.8571 50 44.4561 50 46.4286Z" fill="url(#paint23_linear_4_1140)" />
            <path d="M71.4286 46.4286C71.4286 48.401 69.8296 50 67.8571 50C65.8847 50 64.2857 48.401 64.2857 46.4286C64.2857 44.4561 65.8847 42.8571 67.8571 42.8571C69.8296 42.8571 71.4286 44.4561 71.4286 46.4286Z" fill="url(#paint24_linear_4_1140)" />
            <path d="M92.8571 46.4286C92.8571 48.401 91.2582 50 89.2857 50C87.3133 50 85.7143 48.401 85.7143 46.4286C85.7143 44.4561 87.3133 42.8571 89.2857 42.8571C91.2582 42.8571 92.8571 44.4561 92.8571 46.4286Z" fill="url(#paint25_linear_4_1140)" />
            <path d="M114.286 46.4286C114.286 48.401 112.687 50 110.714 50C108.742 50 107.143 48.401 107.143 46.4286C107.143 44.4561 108.742 42.8571 110.714 42.8571C112.687 42.8571 114.286 44.4561 114.286 46.4286Z" fill="url(#paint26_linear_4_1140)" />
            <path d="M135.714 46.4286C135.714 48.401 134.115 50 132.143 50C130.17 50 128.571 48.401 128.571 46.4286C128.571 44.4561 130.17 42.8571 132.143 42.8571C134.115 42.8571 135.714 44.4561 135.714 46.4286Z" fill="url(#paint27_linear_4_1140)" />
            <path d="M157.143 46.4286C157.143 48.401 155.544 50 153.571 50C151.599 50 150 48.401 150 46.4286C150 44.4561 151.599 42.8571 153.571 42.8571C155.544 42.8571 157.143 44.4561 157.143 46.4286Z" fill="url(#paint28_linear_4_1140)" />
            <path d="M178.571 46.4286C178.571 48.401 176.972 50 175 50C173.028 50 171.429 48.401 171.429 46.4286C171.429 44.4561 173.028 42.8571 175 42.8571C176.972 42.8571 178.571 44.4561 178.571 46.4286Z" fill="url(#paint29_linear_4_1140)" />
            <path d="M7.14286 67.8571C7.14286 69.8296 5.54387 71.4286 3.57143 71.4286C1.59898 71.4286 0 69.8296 0 67.8571C0 65.8847 1.59898 64.2857 3.57143 64.2857C5.54387 64.2857 7.14286 65.8847 7.14286 67.8571Z" fill="url(#paint30_linear_4_1140)" />
            <path d="M28.5714 67.8571C28.5714 69.8296 26.9724 71.4286 25 71.4286C23.0276 71.4286 21.4286 69.8296 21.4286 67.8571C21.4286 65.8847 23.0276 64.2857 25 64.2857C26.9724 64.2857 28.5714 65.8847 28.5714 67.8571Z" fill="url(#paint31_linear_4_1140)" />
            <path d="M50 67.8571C50 69.8296 48.401 71.4286 46.4286 71.4286C44.4561 71.4286 42.8571 69.8296 42.8571 67.8571C42.8571 65.8847 44.4561 64.2857 46.4286 64.2857C48.401 64.2857 50 65.8847 50 67.8571Z" fill="url(#paint32_linear_4_1140)" />
            <path d="M71.4286 67.8571C71.4286 69.8296 69.8296 71.4286 67.8571 71.4286C65.8847 71.4286 64.2857 69.8296 64.2857 67.8571C64.2857 65.8847 65.8847 64.2857 67.8571 64.2857C69.8296 64.2857 71.4286 65.8847 71.4286 67.8571Z" fill="url(#paint33_linear_4_1140)" />
            <path d="M92.8571 67.8571C92.8571 69.8296 91.2582 71.4286 89.2857 71.4286C87.3133 71.4286 85.7143 69.8296 85.7143 67.8571C85.7143 65.8847 87.3133 64.2857 89.2857 64.2857C91.2582 64.2857 92.8571 65.8847 92.8571 67.8571Z" fill="url(#paint34_linear_4_1140)" />
            <path d="M114.286 67.8571C114.286 69.8296 112.687 71.4286 110.714 71.4286C108.742 71.4286 107.143 69.8296 107.143 67.8571C107.143 65.8847 108.742 64.2857 110.714 64.2857C112.687 64.2857 114.286 65.8847 114.286 67.8571Z" fill="url(#paint35_linear_4_1140)" />
            <path d="M135.714 67.8571C135.714 69.8296 134.115 71.4286 132.143 71.4286C130.17 71.4286 128.571 69.8296 128.571 67.8571C128.571 65.8847 130.17 64.2857 132.143 64.2857C134.115 64.2857 135.714 65.8847 135.714 67.8571Z" fill="url(#paint36_linear_4_1140)" />
            <path d="M157.143 67.8571C157.143 69.8296 155.544 71.4286 153.571 71.4286C151.599 71.4286 150 69.8296 150 67.8571C150 65.8847 151.599 64.2857 153.571 64.2857C155.544 64.2857 157.143 65.8847 157.143 67.8571Z" fill="url(#paint37_linear_4_1140)" />
            <path d="M178.571 67.8571C178.571 69.8296 176.972 71.4286 175 71.4286C173.028 71.4286 171.429 69.8296 171.429 67.8571C171.429 65.8847 173.028 64.2857 175 64.2857C176.972 64.2857 178.571 65.8847 178.571 67.8571Z" fill="url(#paint38_linear_4_1140)" />
            <path d="M200 67.8571C200 69.8296 198.401 71.4286 196.429 71.4286C194.456 71.4286 192.857 69.8296 192.857 67.8571C192.857 65.8847 194.456 64.2857 196.429 64.2857C198.401 64.2857 200 65.8847 200 67.8571Z" fill="url(#paint39_linear_4_1140)" />
            <path d="M7.14286 89.2857C7.14286 91.2582 5.54387 92.8571 3.57143 92.8571C1.59898 92.8571 0 91.2582 0 89.2857C0 87.3133 1.59898 85.7143 3.57143 85.7143C5.54387 85.7143 7.14286 87.3133 7.14286 89.2857Z" fill="url(#paint40_linear_4_1140)" />
            <path d="M28.5714 89.2857C28.5714 91.2582 26.9724 92.8571 25 92.8571C23.0276 92.8571 21.4286 91.2582 21.4286 89.2857C21.4286 87.3133 23.0276 85.7143 25 85.7143C26.9724 85.7143 28.5714 87.3133 28.5714 89.2857Z" fill="url(#paint41_linear_4_1140)" />
            <path d="M50 89.2857C50 91.2582 48.401 92.8571 46.4286 92.8571C44.4561 92.8571 42.8571 91.2582 42.8571 89.2857C42.8571 87.3133 44.4561 85.7143 46.4286 85.7143C48.401 85.7143 50 87.3133 50 89.2857Z" fill="url(#paint42_linear_4_1140)" />
            <path d="M71.4286 89.2857C71.4286 91.2582 69.8296 92.8571 67.8571 92.8571C65.8847 92.8571 64.2857 91.2582 64.2857 89.2857C64.2857 87.3133 65.8847 85.7143 67.8571 85.7143C69.8296 85.7143 71.4286 87.3133 71.4286 89.2857Z" fill="url(#paint43_linear_4_1140)" />
            <path d="M92.8571 89.2857C92.8571 91.2582 91.2582 92.8571 89.2857 92.8571C87.3133 92.8571 85.7143 91.2582 85.7143 89.2857C85.7143 87.3133 87.3133 85.7143 89.2857 85.7143C91.2582 85.7143 92.8571 87.3133 92.8571 89.2857Z" fill="url(#paint44_linear_4_1140)" />
            <path d="M114.286 89.2857C114.286 91.2582 112.687 92.8571 110.714 92.8571C108.742 92.8571 107.143 91.2582 107.143 89.2857C107.143 87.3133 108.742 85.7143 110.714 85.7143C112.687 85.7143 114.286 87.3133 114.286 89.2857Z" fill="url(#paint45_linear_4_1140)" />
            <path d="M135.714 89.2857C135.714 91.2582 134.115 92.8571 132.143 92.8571C130.17 92.8571 128.571 91.2582 128.571 89.2857C128.571 87.3133 130.17 85.7143 132.143 85.7143C134.115 85.7143 135.714 87.3133 135.714 89.2857Z" fill="url(#paint46_linear_4_1140)" />
            <path d="M157.143 89.2857C157.143 91.2582 155.544 92.8571 153.571 92.8571C151.599 92.8571 150 91.2582 150 89.2857C150 87.3133 151.599 85.7143 153.571 85.7143C155.544 85.7143 157.143 87.3133 157.143 89.2857Z" fill="url(#paint47_linear_4_1140)" />
            <path d="M178.571 89.2857C178.571 91.2582 176.972 92.8571 175 92.8571C173.028 92.8571 171.429 91.2582 171.429 89.2857C171.429 87.3133 173.028 85.7143 175 85.7143C176.972 85.7143 178.571 87.3133 178.571 89.2857Z" fill="url(#paint48_linear_4_1140)" />
            <path d="M200 89.2857C200 91.2582 198.401 92.8571 196.429 92.8571C194.456 92.8571 192.857 91.2582 192.857 89.2857C192.857 87.3133 194.456 85.7143 196.429 85.7143C198.401 85.7143 200 87.3133 200 89.2857Z" fill="url(#paint49_linear_4_1140)" />
            <path d="M7.14286 110.714C7.14286 112.687 5.54387 114.286 3.57143 114.286C1.59898 114.286 0 112.687 0 110.714C0 108.742 1.59898 107.143 3.57143 107.143C5.54387 107.143 7.14286 108.742 7.14286 110.714Z" fill="url(#paint50_linear_4_1140)" />
            <path d="M28.5714 110.714C28.5714 112.687 26.9724 114.286 25 114.286C23.0276 114.286 21.4286 112.687 21.4286 110.714C21.4286 108.742 23.0276 107.143 25 107.143C26.9724 107.143 28.5714 108.742 28.5714 110.714Z" fill="url(#paint51_linear_4_1140)" />
            <path d="M50 110.714C50 112.687 48.401 114.286 46.4286 114.286C44.4561 114.286 42.8571 112.687 42.8571 110.714C42.8571 108.742 44.4561 107.143 46.4286 107.143C48.401 107.143 50 108.742 50 110.714Z" fill="url(#paint52_linear_4_1140)" />
            <path d="M71.4286 110.714C71.4286 112.687 69.8296 114.286 67.8571 114.286C65.8847 114.286 64.2857 112.687 64.2857 110.714C64.2857 108.742 65.8847 107.143 67.8571 107.143C69.8296 107.143 71.4286 108.742 71.4286 110.714Z" fill="url(#paint53_linear_4_1140)" />
            <path d="M92.8571 110.714C92.8571 112.687 91.2582 114.286 89.2857 114.286C87.3133 114.286 85.7143 112.687 85.7143 110.714C85.7143 108.742 87.3133 107.143 89.2857 107.143C91.2582 107.143 92.8571 108.742 92.8571 110.714Z" fill="url(#paint54_linear_4_1140)" />
            <path d="M114.286 110.714C114.286 112.687 112.687 114.286 110.714 114.286C108.742 114.286 107.143 112.687 107.143 110.714C107.143 108.742 108.742 107.143 110.714 107.143C112.687 107.143 114.286 108.742 114.286 110.714Z" fill="url(#paint55_linear_4_1140)" />
            <path d="M135.714 110.714C135.714 112.687 134.115 114.286 132.143 114.286C130.17 114.286 128.571 112.687 128.571 110.714C128.571 108.742 130.17 107.143 132.143 107.143C134.115 107.143 135.714 108.742 135.714 110.714Z" fill="url(#paint56_linear_4_1140)" />
            <path d="M157.143 110.714C157.143 112.687 155.544 114.286 153.571 114.286C151.599 114.286 150 112.687 150 110.714C150 108.742 151.599 107.143 153.571 107.143C155.544 107.143 157.143 108.742 157.143 110.714Z" fill="url(#paint57_linear_4_1140)" />
            <path d="M178.571 110.714C178.571 112.687 176.972 114.286 175 114.286C173.028 114.286 171.429 112.687 171.429 110.714C171.429 108.742 173.028 107.143 175 107.143C176.972 107.143 178.571 108.742 178.571 110.714Z" fill="url(#paint58_linear_4_1140)" />
            <path d="M200 110.714C200 112.687 198.401 114.286 196.429 114.286C194.456 114.286 192.857 112.687 192.857 110.714C192.857 108.742 194.456 107.143 196.429 107.143C198.401 107.143 200 108.742 200 110.714Z" fill="url(#paint59_linear_4_1140)" />
            <path d="M7.14286 132.143C7.14286 134.115 5.54387 135.714 3.57143 135.714C1.59898 135.714 0 134.115 0 132.143C0 130.17 1.59898 128.571 3.57143 128.571C5.54387 128.571 7.14286 130.17 7.14286 132.143Z" fill="url(#paint60_linear_4_1140)" />
            <path d="M28.5714 132.143C28.5714 134.115 26.9724 135.714 25 135.714C23.0276 135.714 21.4286 134.115 21.4286 132.143C21.4286 130.17 23.0276 128.571 25 128.571C26.9724 128.571 28.5714 130.17 28.5714 132.143Z" fill="url(#paint61_linear_4_1140)" />
            <path d="M50 132.143C50 134.115 48.401 135.714 46.4286 135.714C44.4561 135.714 42.8571 134.115 42.8571 132.143C42.8571 130.17 44.4561 128.571 46.4286 128.571C48.401 128.571 50 130.17 50 132.143Z" fill="url(#paint62_linear_4_1140)" />
            <path d="M71.4286 132.143C71.4286 134.115 69.8296 135.714 67.8571 135.714C65.8847 135.714 64.2857 134.115 64.2857 132.143C64.2857 130.17 65.8847 128.571 67.8571 128.571C69.8296 128.571 71.4286 130.17 71.4286 132.143Z" fill="url(#paint63_linear_4_1140)" />
            <path d="M92.8571 132.143C92.8571 134.115 91.2582 135.714 89.2857 135.714C87.3133 135.714 85.7143 134.115 85.7143 132.143C85.7143 130.17 87.3133 128.571 89.2857 128.571C91.2582 128.571 92.8571 130.17 92.8571 132.143Z" fill="url(#paint64_linear_4_1140)" />
            <path d="M114.286 132.143C114.286 134.115 112.687 135.714 110.714 135.714C108.742 135.714 107.143 134.115 107.143 132.143C107.143 130.17 108.742 128.571 110.714 128.571C112.687 128.571 114.286 130.17 114.286 132.143Z" fill="url(#paint65_linear_4_1140)" />
            <path d="M135.714 132.143C135.714 134.115 134.115 135.714 132.143 135.714C130.17 135.714 128.571 134.115 128.571 132.143C128.571 130.17 130.17 128.571 132.143 128.571C134.115 128.571 135.714 130.17 135.714 132.143Z" fill="url(#paint66_linear_4_1140)" />
            <path d="M157.143 132.143C157.143 134.115 155.544 135.714 153.571 135.714C151.599 135.714 150 134.115 150 132.143C150 130.17 151.599 128.571 153.571 128.571C155.544 128.571 157.143 130.17 157.143 132.143Z" fill="url(#paint67_linear_4_1140)" />
            <path d="M178.571 132.143C178.571 134.115 176.972 135.714 175 135.714C173.028 135.714 171.429 134.115 171.429 132.143C171.429 130.17 173.028 128.571 175 128.571C176.972 128.571 178.571 130.17 178.571 132.143Z" fill="url(#paint68_linear_4_1140)" />
            <path d="M200 132.143C200 134.115 198.401 135.714 196.429 135.714C194.456 135.714 192.857 134.115 192.857 132.143C192.857 130.17 194.456 128.571 196.429 128.571C198.401 128.571 200 130.17 200 132.143Z" fill="url(#paint69_linear_4_1140)" />
            <path d="M28.5714 153.571C28.5714 155.544 26.9724 157.143 25 157.143C23.0276 157.143 21.4286 155.544 21.4286 153.571C21.4286 151.599 23.0276 150 25 150C26.9724 150 28.5714 151.599 28.5714 153.571Z" fill="url(#paint70_linear_4_1140)" />
            <path d="M50 153.571C50 155.544 48.401 157.143 46.4286 157.143C44.4561 157.143 42.8571 155.544 42.8571 153.571C42.8571 151.599 44.4561 150 46.4286 150C48.401 150 50 151.599 50 153.571Z" fill="url(#paint71_linear_4_1140)" />
            <path d="M71.4286 153.571C71.4286 155.544 69.8296 157.143 67.8571 157.143C65.8847 157.143 64.2857 155.544 64.2857 153.571C64.2857 151.599 65.8847 150 67.8571 150C69.8296 150 71.4286 151.599 71.4286 153.571Z" fill="url(#paint72_linear_4_1140)" />
            <path d="M92.8571 153.571C92.8571 155.544 91.2582 157.143 89.2857 157.143C87.3133 157.143 85.7143 155.544 85.7143 153.571C85.7143 151.599 87.3133 150 89.2857 150C91.2582 150 92.8571 151.599 92.8571 153.571Z" fill="url(#paint73_linear_4_1140)" />
            <path d="M114.286 153.571C114.286 155.544 112.687 157.143 110.714 157.143C108.742 157.143 107.143 155.544 107.143 153.571C107.143 151.599 108.742 150 110.714 150C112.687 150 114.286 151.599 114.286 153.571Z" fill="url(#paint74_linear_4_1140)" />
            <path d="M135.714 153.571C135.714 155.544 134.115 157.143 132.143 157.143C130.17 157.143 128.571 155.544 128.571 153.571C128.571 151.599 130.17 150 132.143 150C134.115 150 135.714 151.599 135.714 153.571Z" fill="url(#paint75_linear_4_1140)" />
            <path d="M157.143 153.571C157.143 155.544 155.544 157.143 153.571 157.143C151.599 157.143 150 155.544 150 153.571C150 151.599 151.599 150 153.571 150C155.544 150 157.143 151.599 157.143 153.571Z" fill="url(#paint76_linear_4_1140)" />
            <path d="M178.571 153.571C178.571 155.544 176.972 157.143 175 157.143C173.028 157.143 171.429 155.544 171.429 153.571C171.429 151.599 173.028 150 175 150C176.972 150 178.571 151.599 178.571 153.571Z" fill="url(#paint77_linear_4_1140)" />
            <path d="M50 175C50 176.972 48.401 178.571 46.4286 178.571C44.4561 178.571 42.8571 176.972 42.8571 175C42.8571 173.028 44.4561 171.429 46.4286 171.429C48.401 171.429 50 173.028 50 175Z" fill="url(#paint78_linear_4_1140)" />
            <path d="M71.4286 175C71.4286 176.972 69.8296 178.571 67.8571 178.571C65.8847 178.571 64.2857 176.972 64.2857 175C64.2857 173.028 65.8847 171.429 67.8571 171.429C69.8296 171.429 71.4286 173.028 71.4286 175Z" fill="url(#paint79_linear_4_1140)" />
            <path d="M92.8571 175C92.8571 176.972 91.2582 178.571 89.2857 178.571C87.3133 178.571 85.7143 176.972 85.7143 175C85.7143 173.028 87.3133 171.429 89.2857 171.429C91.2582 171.429 92.8571 173.028 92.8571 175Z" fill="url(#paint80_linear_4_1140)" />
            <path d="M114.286 175C114.286 176.972 112.687 178.571 110.714 178.571C108.742 178.571 107.143 176.972 107.143 175C107.143 173.028 108.742 171.429 110.714 171.429C112.687 171.429 114.286 173.028 114.286 175Z" fill="url(#paint81_linear_4_1140)" />
            <path d="M135.714 175C135.714 176.972 134.115 178.571 132.143 178.571C130.17 178.571 128.571 176.972 128.571 175C128.571 173.028 130.17 171.429 132.143 171.429C134.115 171.429 135.714 173.028 135.714 175Z" fill="url(#paint82_linear_4_1140)" />
            <path d="M157.143 175C157.143 176.972 155.544 178.571 153.571 178.571C151.599 178.571 150 176.972 150 175C150 173.028 151.599 171.429 153.571 171.429C155.544 171.429 157.143 173.028 157.143 175Z" fill="url(#paint83_linear_4_1140)" />
            <path d="M71.4286 196.429C71.4286 198.401 69.8296 200 67.8571 200C65.8847 200 64.2857 198.401 64.2857 196.429C64.2857 194.456 65.8847 192.857 67.8571 192.857C69.8296 192.857 71.4286 194.456 71.4286 196.429Z" fill="url(#paint84_linear_4_1140)" />
            <path d="M92.8571 196.429C92.8571 198.401 91.2582 200 89.2857 200C87.3133 200 85.7143 198.401 85.7143 196.429C85.7143 194.456 87.3133 192.857 89.2857 192.857C91.2582 192.857 92.8571 194.456 92.8571 196.429Z" fill="url(#paint85_linear_4_1140)" />
            <path d="M114.286 196.429C114.286 198.401 112.687 200 110.714 200C108.742 200 107.143 198.401 107.143 196.429C107.143 194.456 108.742 192.857 110.714 192.857C112.687 192.857 114.286 194.456 114.286 196.429Z" fill="url(#paint86_linear_4_1140)" />
            <path d="M135.714 196.429C135.714 198.401 134.115 200 132.143 200C130.17 200 128.571 198.401 128.571 196.429C128.571 194.456 130.17 192.857 132.143 192.857C134.115 192.857 135.714 194.456 135.714 196.429Z" fill="url(#paint87_linear_4_1140)" />
        </g>
        <defs>
            <linearGradient id="paint0_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint1_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint2_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint3_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint4_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint5_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint6_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint7_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint8_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint9_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint10_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint11_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint12_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint13_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint14_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint15_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint16_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint17_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint18_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint19_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint20_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint21_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint22_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint23_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint24_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint25_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint26_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint27_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint28_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint29_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint30_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint31_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint32_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint33_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint34_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint35_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint36_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint37_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint38_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint39_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint40_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint41_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint42_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint43_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint44_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint45_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint46_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint47_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint48_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint49_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint50_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint51_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint52_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint53_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint54_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint55_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint56_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint57_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint58_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint59_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint60_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint61_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint62_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint63_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint64_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint65_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint66_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint67_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint68_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint69_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint70_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint71_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint72_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint73_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint74_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint75_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint76_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint77_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint78_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint79_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint80_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint81_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint82_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint83_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint84_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint85_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint86_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint87_linear_4_1140" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
            </linearGradient>
        </defs>
    </svg>
</section>

<section id="Helpful-resources">
    <div class="header">
        <div class="count">
            @Model.Categories.Count Articles
        </div>
        <div class="filter-by">
            Filter by
            <div class="topics">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <g clip-path="url(#clip0_4_1111)">
                        <path d="M3.33496 17.4998V11.6665" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.33496 8.33333V2.5" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.002 17.5V10" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.002 6.66667V2.5" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16.6689 17.5002V13.3335" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16.6689 10V2.5" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M0.834961 11.6665H5.83496" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.50195 6.6665H12.502" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.1689 13.3335H19.1689" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_4_1111">
                            <rect width="20" height="20" fill="white" transform="translate(0.00195312)" />
                        </clipPath>
                    </defs>
                </svg>
                @(String.IsNullOrEmpty(Model.Categori)? "All": Model.Categori)
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5.00195 7.5L10.002 12.5L15.002 7.5" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
    <div class="contend">
        <h4>
            Helpful resources & Articles.
        </h4>
        <div class="blogs">

            @foreach (var item in Model.Products)
            {
                <div class="blog">
                    <div class="img">
                        <a>
                            <img height="280" class="cart-img" width="320" src="~/assets/img/products/@item.Image">
                        </a>
                        <a data-id="@item.Id" class="basket-btn">
                            <img class="cart-icon" src="~/assets/img/shopping-bag.svg">
                        </a>
                        <div class="content">
                            <h3 class="title">@item.Title</h3>
                            <p class="price">@item.Price$</p>
                        </div>
                    </div>
                    <div class="tags">

                        @foreach (var ctr in item.CategoryProducts)
                        {
                            <div class="tag">
                                @ctr.Category.Name
                            </div>
                        }

                    </div>
                    <div class="descript">
                        @item.Description
                    </div>
                </div>
            }

        </div>
        @if (Model.PageCount > 1)
        {

            <div id="Pagination" >

                @if (Model.Page == 1)
                {
                    <button data-page="1" class="active">1</button>
                    for (int i = 2; i <= Model.PageCount; i++)
                    {
                        <button data-page="@i">@i</button>
                    }
                    <button data-page="@(Model.Page+1)" class="active"> &gt; </button>
                }
                else if (Model.Page == Model.PageCount)
                {
                    <button data-page="@(Model.Page-1)"  class="active"> &lt; </button>
                    for (int i = 1; i < Model.PageCount; i++)
                    {
                        <button data-page="@i">@i</button>
                    }
                    <button data-page="@Model.PageCount" class="active">@Model.PageCount</button>
                }
                else
                {
                    <button data-page="@(Model.Page-1)" class="active"> &lt; </button>
                    int i = 1;
                    for (; i < Model.Page; i++)
                    {
                        <button data-page="@i" >@i</button>
                    }
                    <button data-page="@i" class="active">@(i++)</button>
                    for (; i <= Model.PageCount; i++)
                    {
                        <button data-page="@i">@i</button>
                    }
                    <button data-page="@(Model.Page+1)" class="active"> &gt; </button>
                }
            </div>
        }
    </div>
</section>
<div id="Filter">
    <div class="all-screen"></div>
    <div class="filter">
        <div class="header">
            <span>Filters</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M24 8L8 24" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 8L24 24" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="main">
            <div class="row">

                <div class="opt @(String.IsNullOrEmpty(Model.Categori)? "active":"")">
                    All
                </div>
                @foreach (var item in Model.Categories)
                {
                    <div class="opt @((Model.Categori == item.Name)? "active":"")">
                        @item.Name
                    </div>
                }

            </div>
        </div>
        <div class="footer">
            <div class="reset">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M23 4V10H17" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.4899 15C19.8399 16.8399 18.6094 18.4187 16.984 19.4985C15.3586 20.5783 13.4263 21.1006 11.4783 20.9866C9.53026 20.8726 7.67203 20.1286 6.18363 18.8667C4.69524 17.6047 3.6573 15.8932 3.22625 13.9901C2.79519 12.0869 2.99436 10.0952 3.79374 8.31508C4.59313 6.53496 5.94942 5.06288 7.65823 4.12065C9.36705 3.17843 11.3358 2.81711 13.2678 3.09116C15.1999 3.3652 16.9905 4.25975 18.3699 5.64001L22.9999 10" stroke="#232521" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Reset
            </div>
            <a>Show Results</a>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/js/shop.js"></script>
}